:host:hover.editable {

  span {

    cursor: pointer;

    &:not(.active) {
      color: #ffea8b;
    }

    &:hover ~ span {
      color: rgba(0, 0, 0, .87);
    }

    &:not(.active):hover {
      color: #ffea8b;
    }
  }
}

span {
  transition: color .3s ease;

  &.active {
    color: #ffba27;
  }

}